@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Roboto+Slab:400,100,300,700');

.new-homepage  {
    background:#EFEFEF;
}
.new-homepage #resumeupload  {
    margin:0 auto;
}
.new-homepage #dragdrop  {
    background:#E0E0E0;
    margin:0 auto;
    border:2px solid #a1a1a1;
    border-radius: 10px;
    color: #023658;
    text-align: center;
}
.new-homepage #dragdrop-outline  {
    border: 5px dashed #cccccc;
    border-radius: 25px;
    padding: .7em;
}
.new-homepage #panelRow > div  {
    width: 23%;
    margin-left: 2.6666%;
    position: relative;
    float: left;
    background: white;
    text-align: center;

}
.new-homepage #panelRow > .panel:first-child  {
    margin-left: 0;
}
.new-homepage .file-formats.row  {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.new-homepage .file-formats span  {
    color: #666666;
}
.new-homepage .file-formats strong  {
    margin: auto .25em;
}
.new-homepage .get-started  {
    margin-top: 2.5em;
    font-family:'Open Sans',sans-serif;
}
.new-homepage .get-started h3  {
    color: #023658;
    font-size: 2.5em;
    font-weight: 300;
}
.new-homepage .get-started h5  {
    margin-top: -.7em;
    font-size: 1.5em;
    font-weight: 200;
}

.new-homepage .drag-drop.row  {
    margin-top: 2.5em;
}

.new-homepage .drag-drop .icon.row  {
    margin-top: 2.5em;
}
.new-homepage .drag-drop-header  {
    display:inline-block;
}
.new-homepage .drag-drop-header *  {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 400;
}
.new-homepage .drag-drop-header .cta-drag  {
    font-size: 2.25em;
    font-weight: 300;
}

.new-homepage .drag-drop-header .cta-click  {
    font-size: 1.5em;
}
.new-homepage .drag-drop-header .row  {
    margin-top: -.15em;
}

.new-homepage .hero h1  {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.new-homepage .account-teaser > .row  {
    margin-top: 3em;
}

.new-homepage .account-teaser h4  {
    color: #023658;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.new-homepage .account-teaser i  {
    border-radius: 50%;
}

.new-homepage .account-teaser i.fa-flag  {
    color: #16B9B0;
    border-color: #16B9B0;
}
.new-homepage .account-teaser i.fa-bolt  {
    color: #7DC332;
    border-color: #7DC332;
    padding: .2em .5em;
}
.new-homepage .account-teaser i.fa-bell  {
    color: #DC4B37;
    border-color: #DC4B37;
}
.new-homepage .account-teaser i.fa-trophy  {
    color: #00B9F0;
    border-color: #00B9F0;
}
.new-homepage .popular-search  {
    background: #FFFFFF;
    border-top: 5px solid #CCCCCC;
}

.new-homepage .popular-search a.browse i  {
    color: #023658;
    margin-right: 1em;
    font-size: 1.5em;
}

.new-homepage .popular-search h2  {
    font-size: 2em;
}

.new-homepage .popular-search h1  {
    font-size: 2.5em;
}

.new-homepage .popular-search a  {
    font-weight: 400;
}